@charset "utf-8";
.helplist>li{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #404040;
    height:50px;
    line-height:50px;
    padding:0 26px;
    background-image: url(../../image/wifinotice/list_more.png);
    background-repeat:no-repeat;
    -webkit-background-size:8px 14px;
    background-size:8px 14px;
    background-position: right 26px center;
    border-bottom: 1px solid #F7F7F7;;
}
.helplist>li:hover{
    opacity: 0.5;
    background-color: #F5F5F5;
}





