.attendance-manager-container
  position: relative
  margin 20px
  :focus
    outline none
  .attendance-add
    display flex
    justify-content space-between
    padding 5px 11px 5px 18px
    background #ffffff
    .title
      font-size 18px
      font-weight 500
  .attendance-form-drawer
    width 60% !important
    height 93%
    margin-top 80px
    border-radius 10px
    margin-right 21px
    .el-calendar__title
      color #4EA5FE
      font-size 18px 
      font-weight 500
    .el-calendar-table .el-calendar-day
      height auto
      padding 0
      box-sizing border-box
    .is-date-selected
      background #F7F8FC
      height 85px
    .no-selected
      height 85px
    .el-tag
      margin-right 10px
    .el-drawer__header
      padding 10px 10px 0
      margin-bottom 10px
    .el-drawer__body
      overflow auto
    .attendance-form
      padding 0 20px
      .using-switch
        display flex
        align-items center
        margin-top 10px
        .el-switch
          width 30%
    .btn-create
      position absolute
      bottom 30px
      left 50%
      transform translateX(-50%)
  .attendance-clockset-form
    padding 20px
    .clock-set
      border-bottom 1px solid #EAEDF2
      margin-bottom 10px
      font-size 14px
      color #475B6D
    .set-top
      display flex
      justify-content space-between
      align-content center
      align-items center
      .week
        font-weight 500
        font-size 14px
        width 43px
        margin-right 19px
      .week-copy
        color #4EA5FE
        width 71px
        .el-button
          font-weight normal
      .is-weekday
        flex 1
        text-align right
    .set-day
      display flex
      .title
        margin-top 10px
        margin-right 5px
      .el-form-item
        margin-bottom 20px
        .el-input--mini .el-input__inner
          width 90px
          height 39px
          line-height 39px
        .el-form-item__label
          font-size 14px
          color #475B6D
  .clock-btn
    text-align center
    padding-bottom 40px
  .attendance-list-container
    width 100%
    .el-button--mini
      padding 5px 12px
  .attendance-record-container
    position: absolute
    height: 100%
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    background-color: #fff
    .leftTitle
      padding: 10px;
      border-bottom: 1px solid #EAEDF2;
      .title1
        margin-left: 10px;
        margin-right: 20px;
    .leftContent
      margin-top: 20px;
      .itemsDiv
        height: 150px;
        display: flex;
        align-items: center;
        padding-left: 30px;
        border-bottom: 1px solid #EAEDF2;
        .itemDiv
          margin-left: 40px;
          // border: 1px solid #000;
          height: 90px;
          width: 90px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-radius: 5px;
          box-shadow: #EAEDF2 1px 1px 2px;
          .color1
            color: #6DCC58
          .color2
            color: #FA7921
          .color3
            color: #FD1B1B
          .color4
            color: #ABABAB
        .border1
          border: 1px solid #6DCC58;
        .border2
          border: 1px solid #FA7921;
        .border3
          border: 1px solid #FD1B1B;
        .border4
          border: 1px solid #ABABAB;
          
          
        

